In [ ]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import sqlite3

# Reading SQL tables using Pandas

Now that we've created our engine to connect to the database, we can use the `read_sql` function in `pandas` to write SQL queries and get tables out as DataFrames.

In [ ]:
df = pd.read_sql("SELECT * FROM ca_wac_2015",conn)

Here, `pd.read_sql()` outputs the table that the SQL query that we wrote as a string would return. In this case, it's simply the `ca_wac_2015` table. Of course, you can include more complicated queries, such as joins, if you'd like.

Let's look at the data to make sure we got what we wanted.

In [ ]:
df.head()

We can use more complicated SQL queries as well, bringing in portions of tables. This is more often what you'll want to do, as tables in SQL can get quite large, and you may want data that has already been joined together.

In [ ]:
query = """
SELECT w_geocode, c000, cbsaname, ctyname 
FROM ca_wac_2015 a
JOIN ca_xwalk b
ON a.w_geocode = b.tabblk2010;
"""

df = pd.read_sql(query,conn)

Here, we are first constructing a query (using the triple quotation marks to create the string over multiple lines for readability), then putting that query into the `read_sql()` function, which outputs the result of the query as a Data Frame. Let's take a quick look at it.

In [ ]:
df.head()