In [ ]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import sqlite3

conn = sqlite3.connect("../../lodes.db")

# Writing Data Frames to an SQL Database

We can use our engine that we used to connect to the database to also write tables to a database. We do this using the `to_sql` Data Frame method in `pandas`. Let's try this out by putting a new state's data into our lodes.db database.

In [ ]:
data_url = 'https://lehd.ces.census.gov/data/lodes/LODES7/md/wac/md_wac_S000_JT00_2015.csv.gz'
df_md = pd.read_csv(data_url,compression='gzip')

In [ ]:
df_md.head()

First, we will lowercase all column names to make it easier to work with in SQL. Remember, SQL lowercases everything by default, so if we bring this data into the database with uppercase column names, we'll need to use double quotes to refer to all column names, which can become a headache to manage down the road.

In [ ]:
df_md.columns = df_md.columns.str.lower()
df_md.columns

In [ ]:
df_md.to_sql('md_wac_2015', conn, if_exists='replace')

Here, `to_sql()` takes the Data Frame and puts it into the database in the connection `conn`, naming it as the value given in the first argument (in this case, we named it `md_wac_2015`. The last argument, `if_exists='replace'`, makes it so that we replace the table if it exists already. This isn't necessarily always the best to use, because it will overwrite any updates you might have made, but it works for our purposes because if we are bringing in a new table, we haven't done anything about the old one to warrant keeping it.

Let's bring this dataset back to make sure we got what we wanted.

In [ ]:
df = pd.read_sql("SELECT * FROM md_wac_2015",conn)
df.head()

## <span style="color:red">Checkpoint: Put More Datasets into the Database</span>

Try doing the same process of putting data into a database with a different dataset. Make sure you lowercase all columns, and check to make sure it has been put into the database properly by bringing it back into Python.