In [ ]:
%defaultDatasource jdbc:sqlite:lodes.db

## Using Joins With Aggregation Functions

Suppose we wanted to know the distribution of the total number of jobs in California by county. The employment information is in one table, and county information is in another table. We need to join them, then aggregate the jobs, by county. Even though this seems like a complicated multi-step process, we can actually do it all in one query.  Let's break it down into two parts: the join and the aggregation.

### The Join

We need to join the `ca_wac_2015` table and the `ca_xwalk` table. Since we aren't worried about counties that have no jobs, we can do an inner join. Consider the following `JOIN` (if you want to run it, I would suggest adding a `LIMIT` at the end):

In [ ]:
SELECT a.w_geocode, a.c000, b.ctyname
FROM ca_wac_2015 a
JOIN ca_xwalk b
ON a.w_geocode = b.tabblk2010;

This should provide the `JOIN` that we want, as well as the relevant columns. We need to take the table we get from the join and apply the aggregation to it. 

### The Aggregation

From our joined table, we need `GROUP BY` county, then find the `SUM()`. For now, let's call our joined table "`joinedtable`" and write the query based on this table. Since we're also interested in what counties have the most jobs, we'll order by the sum in descending order.

    SELECT ctyname, SUM(c000)
    FROM joinedtable
    GROUP BY ctyname
    ORDER BY SUM(c000) DESC
    LIMIT 1000;

But we've actually already figured out how to get table "`joinedtable`" using the `JOIN`s above. All we need to do is put the `JOIN` in.

In [ ]:
SELECT b.ctyname, SUM(a.c000)
FROM ca_wac_2015 a
JOIN ca_xwalk b
ON a.w_geocode = b.tabblk2010
GROUP BY ctyname
ORDER BY SUM(c000) DESC
LIMIT 1000;