# Using SQL and Python Together

Many times, we have large datasets that we want to manipulate and explore in SQL. However, SQL isn't able to do some of the more powerful analyses, such as text analysis, network analysis, machine learning, and more. In order to do this, we need to bring the data into Python. 

In this chapter, we'll go over some code to use an SQL query to bring in a table from a relational database into a pandas DataFrame.

First, we start as usual by loading the appropriate packages.

In [ ]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import sqlite3

We're going to be using the `connect` function in `sqlite3` to connect to the database. Then, we'll use `pandas`, which has some of the SQL reading functionality built into it already, to bring in a table as a DataFrame.